wp-config.php

# Example themes
./app/public/wp-content/themes/twenty*/

# Example plugin
./app/public/wp-content/plugins/hello.php

# Uploads
./app/public/wp-content/uploads/

# Log files
*.log
./logs

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#./app/public/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#./app/public/wp-content/themes